/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 40 version
*/

.button {
    display: block;
    margin: 8px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    border: 1px solid rgba(17,17,17,0.1);
    background-color: #fff;
    z-index: 1;
    position: relative;
    -webkit-transition: background-color 0.3s linear,
                        -webkit-box-shadow 0.3s linear;
    transition: background-color 0.3s linear,
                -webkit-box-shadow 0.3s linear;
                -o-transition: background-color 0.3s linear,
                box-shadow 0.3s linear;
    transition: background-color 0.3s linear,
                box-shadow 0.3s linear;
    transition: background-color 0.3s linear,
                box-shadow 0.3s linear,
                -webkit-box-shadow 0.3s linear;
}
.button:focus {
    -webkit-box-shadow: 0 0 2px #086FA1;
    box-shadow: 0 0 2px #086FA1;
}
.button:hover {
    background-color: rgba(255,255,255,0.5);
}
.button[disabled] {
    cursor: not-allowed;
}