.countries .children {
    padding: 8px 16px;
}
.countries > .children {
    margin: 0 auto 8px 0;
    border: 1px solid #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.countries > .children:last-child {
    margin: 0 auto 0 0;
}